@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #FFFFFF;
}

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}



body {
  background: var(--background);
  color: var(--foreground);
}
